@import "../../../../styles/all.scss";

.container {
    width: 100vw;
    height: 100vh;
    @include flexbox($alignItems:center, $justifyContent:center)
}

.header {
    color: $purple;
    @include margin($marginBottom:20px);
    @include flexbox($alignItems:center, $justifyContent:center)
}

.form-container {
    width: 80%;
    @include flexbox($direction:column);

    @include tablet {
        width: 60%;
    }

    @include laptop {
        width: 40%;
    }
}

.form-input {
    @include margin($marginBottom:10px !important)
}

.signin-btn {
    width: 150px;
}

.navigate-signup {
    @include margin($marginTop:10px);
    color: $purple;
    text-align: end;

    a {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.error-message {
    color: $red;
    @include margin($marginBottom:10px !important)
}

.navigate-signup-disabled {
    color: $gray;
    pointer-events: none;
}