@import "../../../styles/all.scss";

.drawer-content {
    height: 100%;
    @include padding($padding:60px 0);

    @include flexbox($justifyContent:space-between, $direction:column);
}

.list-item,
.logout-item {
    height: 80px;
    border-radius: 6px;

    transition: 0.3s all ease-in-out;

    &:hover {
        background: rgba(0, 86, 145, 0.05);
    }
}

.list-link {
    color: $black;
    width: 100%;
    height: 100%;
    text-decoration: none;
    @include flexbox($justifyContent:center, $alignItems:center);

    svg {
        @include margin($marginRight:10px);
    }
}

.logout-item {
    height: 80px;
    width: 100%;
    cursor: pointer;
    color: $warning;

    @include margin($marginTop:20px);
    @include flexbox($justifyContent:center, $alignItems:center, $direction:column)
}

.appbar-logo {
    @include flexbox($alignItems:center);
    color: $black
}

.appbar-toolbar {
    @include flexbox($justifyContent:space-between, $alignItems:center);
}

.logout-item-mobile {
    color: $warning;
    cursor: pointer;
    @include margin($marginLeft:20px);
}

.toolbar-right-mobile {
    color: $black;
    @include flexbox($alignItems:center);

    .user-role {
        @include margin($marginBottom:0);
    }
}

.user-role {
    cursor: default;
    text-align: center;
    @include margin($marginBottom:15px);
    @include padding($paddingBottom:5px);
    border-bottom: 4px solid;
}

.user-role-user {
    border-color: $red
}

.user-role-manager {
    border-color: $green
}