@import "../../../../styles/all.scss";

.error-message {
    color: $red;
    @include margin($marginBottom:20px !important)
}

.table-container {
    max-width: 90vw;
    overflow: hidden;

    @include tablet {
        max-width: initial;
    }
}