/* Large title */
.large-text {
    font-size: $fs-xl;
    line-height: $lh-xl;
}

/* Heading */
.heading-text {
    font-size: $fs-lg;
    line-height: $lh-lg;
}

/* Body */
.body-text {
    font-size: $fs-sm;
    line-height: $lh-sm;
}

/* Small */
.small-text {
    font-size: $fs-xs;
    line-height: $lh-xs;
}