/* ----VARIABLES---- */
/* Font sizes */
$fs-xl: 2rem; // 32px
$fs-lg: 1.5rem; // 24px
$fs-sm: 1rem; // 16px
$fs-xs: 0.75rem; // 12px

/* Font weights */
$fw-normal: 400;
$fw-semibold: 500;
$fw-bold: 600;

/* Line heights */
$lh-xl: 2rem; // 32px
$lh-lg: 1.5rem; // 24px
$lh-sm: 1rem; // 16px
$lh-xs: 0.75rem; // 12px

/* Breakpoints */
$breakpoints: (sm:20rem,
  //320px
  md: 48rem,
  // 768px
  lg: 64rem,
  // 1024px
  xl: 80rem,
  // 1280px
);