@import "../../../../../styles/all.scss";

.logo-container {
    @include mobile {
        @include flexbox($direction:column, $alignItems:center, $justifyContent:flex-start);
    }

    @include tablet {
        @include flexbox($direction:row-reverse, $alignItems:flex-start, $justifyContent:space-between);
    }

    @include laptop {
        @include flexbox($direction:column, $alignItems:center, $justifyContent:flex-start);
    }
}

.select-logo-container {
    @include padding($padding:16px);
    background: $white;
    border-radius: 16px;
}

.select-logo-box {
    text-align: center;
    border: 1px dashed $blue;
    box-sizing: border-box;
    border-radius: 10px;
    @include padding($padding:25px 60px);
    // cursor: pointer;
    @include flexbox($direction:column, $alignItems:center);
}

.drag-text {
    color: $blue;
    @include margin($marginTop:5px);
}

.drag-text-or {
    @include margin($marginTop:6px);
    color: #E6E3EA;
}

.select-logo-button {
    @include margin($marginTop:8px);
    width: 80%;

    input {
        display: none;
    }
}

.current-logo-container {
    @include mobile {
        text-align: center;
        @include margin($marginTop:32px);
    }

    @include tablet {
        text-align: start;
        @include margin($marginTop:0);
    }

    @include laptop {
        text-align: center;
        @include margin($marginTop:32px);
    }

    h5 {
        color: $black
    }
}

.current-logo {
    @include margin($marginTop:12px);

    img {
        max-width: 257px;
        border-radius: 10px;
        box-shadow: 0px 0px 16px rgba(82, 95, 107, 0.2);
    }
}

.logo-section-heading {
    @include mobile {
        display: none;
    }

    @include laptop {
        display: block;
    }
}

.error-message {
    @include margin($marginTop:10px);
    color: $red
}