@import "../../../styles/all.scss";

.container {
    width: 100%;
    text-align: center;
}

.logo {
    @include margin($margin: auto);
    display: block;
    width: 100%;

    @include tablet {
        width: auto
    }
}