//NOTE: Noir pro installed from https://en.bestfonts.pro/font/noir-pro
@font-face {
    font-family: 'NoirPro-Regular';
    /* IE9 Compat Modes */
    src: url('assets/fonts/NoirPro/Regular/NoirPro-Regular.eot');
    src: url('assets/fonts/NoirPro/Regular/NoirPro-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('assets/fonts/NoirPro/Regular/NoirPro-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('assets/fonts/NoirPro/Regular/NoirPro-Regular.ttf') format('truetype');
    /* Safari, Android, iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
    font-family: 'NoirPro-Regular', Fallback, sans-serif;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

.webkit-appearance {
    -webkit-appearance: none;
}

button {
    transition: 0.3s all ease-in-out;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    -webkit-overflow-scrolling: auto
        /* need to test after deploy */
}

::-webkit-scrollbar-track {
    background-color: inherit;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, #05eb5d),
            color-stop(0.72, #05eb5d),
            color-stop(0.86, #05eb5d));
}

::-webkit-scrollbar:horizontal {
    width: 5px;
}